* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url(../pokemon2.jpg);
  min-height: 100vh;
  background-size: cover;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  color: rgb(26, 21, 95);
}

h1 {
  text-align: center;
  padding-top: 50px;
}

.div {
  padding-top: 70px;
  display: flex;
  flex-flow: row wrap;
}

.pokemon {
  min-width: 160px;
  min-height: 200px;
  margin: 10px 10px;
  border: 3px rgb(26, 21, 95) solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.pokemon:hover {
  color: rgb(109, 76, 36);
  font-size: 130%;
  border: 4px rgb(173, 106, 23) solid;
  box-shadow: 10px 5px 15px rgb(214, 85, 34);
  cursor: pointer;
}

.nomes {
  min-width: 160px;
  min-height: 60px;
  text-align: Center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}